@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <p class="header-logo">PROFILE.ME</p>
            <p class="header-button">Home</p>
            <p class="header-button">Profile</p>
            <p class="header-button">Blog</p>
            <p class="header-button">Activity</p>
            <p class="header-button-login">Logingin as Admin</p>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
}
