.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #060606;
    color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    flex: 1;
}

.top-row {
    background-color: #040312;
    border-bottom: 3px solid #5de523;
    border-image: linear-gradient(to right, red 0%, green 50%, blue 100%);
    border-image-slice: 1;
    justify-content: flex-start;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.header-button {
    display: inline;
    padding: 0.7rem 3%;
    margin: 0 0;
    border: 1px solid #aaaaaa;
    border-top: 0;
    border-left: 0;
    border-image: linear-gradient(75deg, #f1f1f1, #888888);
    border-image-slice: 1;
    font-family: Segoe UI;
    font-size: 20px;
    cursor: pointer;
    user-select: none;

    background: linear-gradient(
        90deg,
        #303040,
        #303040 50%,
        transparent 50%,
        transparent) 100% 0 / 200% 100%;
    transition:background-position 0.1s;
    min-width: 75px;
    max-width: 200px
}

.header-button:hover {
    background-position: 0 0;
}

.header-logo {
    display: inline;
    padding: 0.6rem 1%;
    margin: 0 0 0 0;
    border-right: 1px solid #888888;
    font-family: 'Segoe UI Black';
    font-size: 25px;
    user-select: none;
    min-width: 170px;
    max-width: 200px;
}

.header-button-login {
    display: inline;
    color: #c56666;
    padding: 0.7rem 1%;
    margin: 0 0 0 0;
    margin-left: auto;
    border: 1px solid #aaaaaa;
    border-top: 0;
    border-image: linear-gradient(75deg, #f1f1f1, #888888);
    border-image-slice: 1;
    font-family: Segoe UI;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    background: linear-gradient( 90deg, #303080, #303080 50%, transparent 50%, transparent) 100% 0 / 200% 100%;
    transition: background-position 0.1s;
    min-width: 125px;
    max-width: 150px;
}

.header-button-login:hover {
    background-position: 0 0;
}
