@page "/"

<PageTitle>PROFILE.ME</PageTitle>

<Animate Animation="Animations.FadeIn" DurationMs="2500">
    <h1 class="Welcome">Welcome to <label class="PROFILE-ME">PROFILE.ME</label> !</h1>
</Animate>
<img class="Picture" src="images/hackPicture.png" />
<h2>About</h2>
<p>
    このサイトでは、私、Mizuhaの活動や作品、ブログなどを掲載したウェブアプリケーションです。
    Profileでは私の自己紹介を掲載しており、私の普段の活動の概要を知ることができます。
    Blogでは、自分の日々の活動の記録を記事として記載しています。
    Activityでは、これまでの活動で制作してきた作品を掲載しています。
</p>

<h2>Profile</h2>
<p>
    learn more
</p>
<h2>Blog</h2>
<p>
    Add Blog
</p>

<h2>My Activities</h2>
<h3>Hack</h3>
<p>
    WebAppやネイティブアプリ開発など...
    このウェブページ制作もこの活動の一環です。
</p>
<h3>Game</h3>
<p>
    主に、私が企画した2Dのアクションゲームの集団制作企画。
    長期で多くの人数を集めて制作を行っている。
</p>
<h3>Disital Illustration</h3>
<p>
    デジタルイラストの制作。
    ゲーム企画のキャラクターデザインや、自分のプロフィール画像の作成など...
</p>

